* {
    margin: 0;
    padding: 0;
    font-family: "Play", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0D0D0D;
    color: #FFFFFF;
    background: radial-gradient(circle at top, #111111, #0D0D0D);
}

/* ---------------------------- HEADER -------------------------- */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #00FF9F;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 10;
    background: rgba(13, 13, 13, 0.8);
    box-shadow: 0 0 5px #00FF9F33;
    backdrop-filter: blur(10px);
}

.logo {
    font-weight: bold;
    color: #00FF9F;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #CCCCCC;
    font-size: 14px;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background: #00FF9F;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #FFFFFF;
}

.nav-links a:hover::after {
    width: 100%;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.hero-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 2;
}

.intro {
    font-size: 14px;
    color: #00FF9F;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #00FF9F;
    width: 0;
    animation: typing 5s steps(28) infinite, blink 0.7s infinite;
}

.hero h1 {
    font-size: 64px;
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 1.1;
    text-shadow: 0 0 10px #00FF9F44;
}

.description {
    margin-bottom: 32px;
    line-height: 1.5;
    color: #CCCCCC;
}

.button {
    padding: 14px 32px;
    font-size: 16px;
    margin-right: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-3px) scale(1.02);
}

.button:active {
    opacity: 0.8;
}

.button-system {
    background-color: #00FF9F;
    box-shadow: 0 0 10px #00FF9F;
}

.button-system:hover {
    box-shadow: 0 0 20px #00FF9F;
}

.button-trailer {
    background-color: transparent;
    border: 1px solid #00FF9F;
}

.button-trailer a {
    text-decoration: none;
    color: #00FF9F;
}

.hero-visual {
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    opacity: 0.2;
    z-index: 0;
}

.hero-visual img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0.9) contrast(1.1) drop-shadow(0 10px 30px rgba(0, 255, 159, 0.15));
    -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
    mask-image: radial-gradient(circle, black 70%, transparent 100%);
}

@keyframes typing {
    0% {
        width: 0;
    }

    40% {
        width: 28ch;
    }

    60% {
        width: 28ch;
    }

    100% {
        width: 0;
    }
}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #00FF9F;
    }
}

/* ------------------CONFIG PADRÃO CARDS ----------------------- */
.skills-section,
.classes-section {
    padding: 152px 100px;
}

.container-skills,
.container-classes {
    max-width: 1200px;
    margin: 0 auto;
}

.title-skills,
.title-classes {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
}

.div-skills,
.div-classes {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 30px;
    background-color: #111111;
    border: 1px solid #222222;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
    will-change: transform;
}

/* ---------------------------- CARDS SKILLS ------------------ */
.skill-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 0 25px #00FF9F33;
    border: 1px solid;
    border-color: #00FF9F;
    transition: border-color 2s ease;
}

.skill-card::before,
.skill-card::after {
    content: "";
    position: absolute;
    background: #00FF9F;
    transition: 0.2s ease;
}

.skill-card::before {
    top: 0;
    left: -100%;
    width: 100%;
    height: 1.2px;
}

.skill-card::after {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 1.2px;
}

.line {
    position: absolute;
    background: #00FF9F;
    transition: 0.2s ease;
}

.line.left {
    top: -100%;
    right: 0;
    width: 1.2px;
    height: 100%;
}

.line.right {
    bottom: -100%;
    left: 0;
    width: 1.2px;
    height: 100%;
}

.skill-card:hover::before {
    left: 0;
}

.skill-card:hover .line.left {
    top: 0;
    transition-delay: 0.15s;
}

.skill-card:hover::after {
    right: 0;
    transition-delay: 0.3s;
}

.skill-card:hover .line.right {
    bottom: 0;
    transition-delay: 0.45s;
}


/* ---------------------------- CARDS CLASSSES ----------------- */
.class-card {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.div-classes:hover .class-card:not(:hover) {
    opacity: 0.3;
    transform: scale(0.9);
}

.class-card:hover {
    opacity: 1;
    transform: scale(1.08);
    border-color: #00FF9F;
    box-shadow: 0 0 30px #00FF9F55;
}

.class-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, #00FF9F22, transparent);
    opacity: 0;
    transition: 0.3s;
}

.class-card:hover::before {
    opacity: 1;
}

.card-img {
    height: 160px;
    overflow: hidden;
}

.class-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
}

.card-description {
    font-size: 14px;
    color: #CCCCCC;
    line-height: 1.4;
}

.card-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.card-tags span {
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid #00FF9F;
    border-radius: 4px;
    color: #00FF9F;
}

.class-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            #00FF9F22,
            transparent);
    transition: 0.6s;
}

.class-card:hover::after {
    left: 100%;
}

/* -------------------- SEÇÃO FINAL -------------- */
.final-section {
    padding: 182px 20px;
    text-align: center;
}

.final-container {
    max-width: 700px;
    margin: 0 auto;
}

.final-title {
    font-size: 36px;
    margin-bottom: 24px;
    text-shadow: 0 0 10px #00FF9F44;
    letter-spacing: 1px;
}

.final-description {
    color: #CCCCCC;
    margin-bottom: 40px;
    line-height: 1.5;
}

.start-button {
    background: #00FF9F;
    box-shadow: 0 0 10px #00FF9F;
    position: relative;
    overflow: hidden;
    animation: zoom 2.5s ease-in-out infinite;
    animation-delay: 0.4s;
}

.start-button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, transparent, #FFFFFF33, transparent);
    opacity: 1;
    transition: 0.3s ease;
}

@keyframes zoom {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px #00FF9F55;
    }

    50% {
        transform: scale(1.03);
        box-shadow: 0 0 20px #00FF9F;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 10px #00FF9F55;
    }
}

/* -------------------------------- FOOTER --------------------------------- */
.footer {
    border-top: 1px solid #222222;
    padding: 96px 32px 32px;
    box-shadow: 0 -20px 30px #00FF9F11;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 56px;
}

.logo-footer {
    width: 216px;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title-logo {
    color: #00FF9F;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 700;
}

.footer-links,
.footer-nav {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
    padding: 20px 82px;
}

.footer-links a:hover {
    opacity: 0.8;
}

.footer-links a:active {
    opacity: 0.4;
}

.img-links {
    height: 30px;
}

.footer-nav a {
    text-decoration: none;
    color: #CCCCCC;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.footer-nav a:hover {
    opacity: 0.8;
}

.footer-nav a:active {
    opacity: 0.4;
}

.footer-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background: #00FF9F;
    transition: 0.3s;
}

.footer-nav a:hover::after {
    width: 100%;
}

.title-conteudo,
.title-links {
    font-size: 14px;
    color: #00FF9F;
    letter-spacing: 1px;
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 32px;
    border-top: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.footer-text {
    color: #888888;
    font-size: 14px;
}

.footer-bottom p a {
    color: #00FF9F;
    text-decoration: none;
}

.footer-bottom-links {
    display: flex;
    gap: 30px;
}

.footer-bottom-links a {
    color: #888888;
    text-decoration: none;
    font-size: 14px;
}

.footer-bottom-links a:hover {
    opacity: 0.8;
}

.footer-bottom-links a:active {
    opacity: 0.4;
}

img {
    max-width: 100%;
    height: auto;
}

/* -------------------------------- RESPONSIVIDADE ------------------------ */
@media (max-width: 1024px) {

    .hero {
        padding: 40px 50px;
        gap: 40px;
    }

    .hero-visual {
        position: absolute;
    }

    .hero h1 {
        font-size: 48px;
    }

    .navbar {
        padding: 20px 50px;
    }

    .skills-section,
    .classes-section {
        padding: 120px 50px;
    }

    .footer-content {
        gap: 40px;
    }
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 20px;

        background: #111111;
        border: 1px solid #00FF9F;
        border-radius: 8px;

        flex-direction: column;
        padding: 15px;
        gap: 15px;

        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 100px 20px 60px;
    }

    .hero-visual {
        top: 40%;
        position: absolute;
    }

    .hero-content {
        align-items: center;
    }

    .hero h1 {
        font-size: 36px;
    }

    .description {
        font-size: 14px;
    }

    .buttons-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 48px;
    }

    .button {
        width: 100%;
    }

    .skills-section,
    .classes-section {
        padding: 80px 20px;
    }

    .div-skills,
    .div-classes {
        flex-direction: column;
    }

    .card {
        padding: 24px;
    }

    .class-card {
        gap: 20px;
    }

    .final-section {
        padding: 120px 20px;
    }

    .final-title {
        font-size: 28px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .logo-footer {
        padding: 0;
    }

    .footer-nav,
    .footer-links {
        padding: 0;
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-bottom-links {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {

    .hero h1 {
        font-size: 28px;
    }

    .hero-visual {
        top: 28%;
    }

    .intro {
        font-size: 12px;
    }

    .buttons-header {
        margin-top: 120px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        font-size: 13px;
    }

    .final-title {
        font-size: 24px;
    }
}